extends layout

block content
  .container
    .row
      .col-md-4
      .col-md-4
        h1 HOME!
    .row
      .col-md-4
      .col-md-4
        ul.list-group
          each note in notes
            li.list-group-item= note.name
